#main
  background-color: lightblue
  font-size: 12px
  height: 100vh

.MysteryBox
  background-color: green
  height: 2rem
  width: 2rem

.Balance
  background-color: purple
  position: absolute
  left: 10%
  top: 50%
  width: 80%
  height: 3rem
